In [65]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as smf

# 1.3 Output equation

In [66]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [67]:
model = smf.ols(data=df, formula='output~capital+labour+wage').fit()
# Параметры модели совпадают с Вашими
model.params

Intercept   -16.745898
capital       0.395074
labour        0.049899
wage          0.436984
dtype: float64

In [75]:
# Дополним датасет предсказанными знчениями переменной ouput соответсвующей степени
df['out2'] =model.predict()**2
df['out3'] =model.predict()**3
df['out4'] =model.predict()**4

In [76]:
model_un = smf.ols(data=df, formula='output~capital+labour+wage+out2+out3+out4').fit()

In [71]:
R2=model_un.rsquared
R2_res = model.rsquared

In [77]:
((R2 - R2_res)/(1-R2))*((len(df)-7)/3)

69.53250929271066

In [79]:
alpha = 0.05
stats.f.ppf(1-alpha,3,len(df)-7).round(2)

2.62

$F_{cr}< F_{obs}$ $\Longrightarrow$  Гипотеза $H_0$ отвергается, данные не согласуются с гипотезой